
#dashboard{
    height: 100%;
    background-color: #e8e8e8;
}

@media screen and (min-width: 1500px) {
    #main-content{
        flex-wrap: nowrap !important;
    }
}

@media screen and (max-width: 850px) {
    #dashboard{
        flex-wrap: wrap !important;

        #navbar{
            width: 100% !important;
        }
    }
}

