/* Common stylings */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,html, #root {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

.swal2-styled.swal2-confirm{
    background-color: #3E65A7;
    border: none;
}

@media screen and (max-width: 850px){
    html, body, #root{
        height: auto;
    }
}