.section{
    margin-bottom: 7em;

    #faqtitle, #aboutustitle, #membership-title, #servicestitle {
        margin: 1em auto;
        text-align: center;
        width: fit-content;
        color: #0b62e4;
        padding: 10px;
        border-radius: 5px;
    }
    
    #faqtitle span, #aboutustitle span, #membership-title span, #servicestitle span{
        display: block;
        width: 50%;
        border-bottom: 4px solid #0d6efd;
        margin: 0.3em auto;
    }
}
