.service-card{
    height: 25rem;

    h2{
        padding: 10px; 
    }

    p{
        padding: 10px;
    }

    a{
        background-color: black;
        color: white;
        padding: 15px 20px; 
        display: block;
        text-align: center;
        margin: 20px 50px;
    }

    &:hover{
        background-color: #0d6efd;
        color: white;
        cursor: pointer;
        transform: scale(1.05);
        transition: all 0.4s;
    }
}
