#title {
    svg {
        font-size: 35px;
        color: #223554;
    }
    h2{
        color: #223554;
        margin-left: 0.5em;
    }
}

#upcomingAppointments {
    padding: 1em;
    box-shadow: 2px 1px 5px -3px #000;
    border-radius: 0.5em;
    background-color: white;
    min-height: 570px;

    p {
        margin: 0;
    }

    .nav-link{
        text-align: center;
    }
}

.appointment {
    position: relative;
    padding: 0 1em;
    background: #3E65A7;
    color: white;
    border-radius: 0.5em;
    box-shadow: 2px 1px 5px -3px #000;
    padding: 1em;
    overflow: hidden;
    flex-grow: 0;

    .assignedDoctor {
        padding: 1em;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .doctorDetails{
            margin-left: 1em;

            p{               
                color: #ffffffc4;
            }
        }
    }

    button {
        background: white;
        color: #223554;
        width: 40%;
        font-weight: bold;

        &:hover{
            background-color: #223554;
        }
    }

    @media screen and (max-width: 500px) {
        button {
            background: white;
            color: #223554;
            width: fit-content;
            font-weight: bold;
        }
    }
}

.backgroundClock {
    font-size: 7em;
    position: absolute;
    bottom: -30%;
    right: -2%;
    color: #223554;
}

.viewmore{
    color: #223554;
    text-decoration: underline;
    text-align: center;
}